version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "random-assigner"
s3_prefix = "random-assigner"
region = "ap-northeast-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
image_repositories = []
